@model IEnumerable<Entities.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<p>
    <a class = "form-control btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
               ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
          @{
            var count = 0;
        }
@foreach (var item in Model) {
           
     count++;
            <tr>
             <td>
              @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                
                @Html.ActionLink("Edit", "Edit", new {  id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.ID })
            </td>
                
        </tr>
}
    </tbody>
</table>
